.container-pagina-inicial {
    background-color: #093824;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}



.container-conteudo-pagina-inicial {
    cursor: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px; /* Espaço entre os elementos */
}

.logo-umapinha {
    max-width: 100%;
    height: auto;
}

.titulo-umapinha {
    color: #fff;
    font-size: 28px;
    font-family: "Stalinist One", sans-serif;
    font-weight: 400;
    margin-top: 20px;
}

.botao-iniciar-link {
    text-decoration: none; /* Remove underline */
}

.botao-iniciar {
    background-color: #C84630;
    width: 220px;
    height: 45px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px; /* Espaçamento superior do botão */
}

.iniciar-titulo {
    font-size: 22px;
    color: #291711;
    font-family: "Stalinist One", sans-serif;
    text-decoration: none;
}