body {
    background-color: #093824;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

#vidas {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 20px;
}

.vida {
    margin-inline-end: 10px;
}

#pergunta {
    background-color: #E5B769;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7vw;
    padding: 20px;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 15px;
    font-size: 35px;
    text-align: center;
    font-family: "Squada One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.opcoes {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}

.opcao {
    background-color: #E5B769;
    height: 5vw;
    width: 90vw;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
    font-family: "Squada One", sans-serif;
    margin-bottom: 20px;
}

.resultado{
    color: #093824;
}

.opcao-selecionada {
    background-color: #E5EAFA;
}

.opcao-correta {
    background-color: #7DCD85;
}

.opcao-incorreta {
    background-color: #C84630;
}


.header-usuario-questoes {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-right: 25px;
}

.vidas-questoes {
    margin-top: 2%;
    margin-right: 10px;
}

.vidaImg-questoes {
    width: 55px;
}

.icon-user-container-questoes {
    position: relative;
    margin-top: 20px;
}

/* Celular */
@media screen and (max-width: 640px) {
    .vida {
        width: 55px;
    }

    .icon-user{
        width: 55px;
    }

    #pergunta {
        margin-right: 7.5%;
        margin-left: 7.5%;
        height: 166px;
        font-size: 32px;
        padding: 0px;
        margin-top: 40px;
    }

    .opcoes {
        margin-top: 125px;
    }

    .opcao {
        width: 85vw;
        height: 15vw;
    }

}

/* Tablet */
@media screen and (min-width: 640px) and (max-width:1007px) {
    #pergunta {
        margin-right: 5%;
        margin-left: 5%;
        height: 17vw;
    }

    .opcao {
        height: 12vw;
    }
}
