<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
    rel="stylesheet"
    type="text/css"
    href="{{ url_for('static', filename='css/reset.css') }}"
  />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/andares.css') }}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/fontes.css') }}"
    />
    <title>Andar 4</title>
  </head>
  <body>
    <section class="inicio-container">
      <section class="header-usuario">
        <section class="vidas">
          <img class="vidaImg" src="../static//imagens/coracao.png" />
          <img class="vidaImg" src="../static//imagens/coracao.png" />
          <img class="vidaImg" src="../static//imagens/coracao.png" />
        </section>
        <section class="icon-user-container">
          <img class="icon-user" src="../static//imagens/iconUser.png" onclick="toggleMenu()" />
          <div class="menu-perfil" id="menu-perfil">
            <div class="close-align">
              <span class="close-menu" onclick="toggleMenu()">X</span>
            </div>
            <a href="/">Inicio</a>
            <a href="/perfil">Perfil</a>
            <a href="/sair">Sair</a>
          </div>
        </section>
      </section>
      <section class="image-container-segundo-andar">
        <img class="segundo-andar-img1" src="../static//imagens/segundo_andar/segundo_andar.JPG" />
        <a href="/questao/2"><img class="selecionar" src="../static/imagens/selecionar.png" alt="Seta sobre imagem" /></a>
        <a href="/andar1"><img class="ir-andar-1" src="../static/imagens/seta.png" alt="Seta sobre imagem" /></a>
        <a href="/andar3">
          <img class="voltar" src="../static/imagens/seta_esquerda.png" />
        </a>
      </section>
  
    </section>
    <script>
      function toggleMenu() {
        const menu = document.getElementById('menu-perfil');
        menu.classList.toggle('show');
      }
  
      // Close the menu if the user clicks outside of it
      window.onclick = function (event) {
        if (!event.target.matches('.icon-user')) {
          const menu = document.getElementById('menu-perfil');
          if (menu.classList.contains('show')) {
            menu.classList.remove('show');
          }
        }
      }
    </script>
  </body>
</html>