<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
    rel="stylesheet"
    type="text/css"
    href="{{ url_for('static', filename='css/reset.css') }}"
  />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/andares.css') }}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/fontes.css') }}"
    />
    <title>Página 2</title>
  </head>
  <body>
    <section class="inicio-container">
      <section class="header-usuario">
        <section class="vidas">
          <img class="vidaImg" src="../static//imagens/coracao.png" />
          <img class="vidaImg" src="../static//imagens/coracao.png" />
          <img class="vidaImg" src="../static//imagens/coracao.png" />
        </section>
        <section class="icon-user-container">
          <img class="icon-user" src="../static//imagens/iconUser.png" />
        </section>
        <section class="perfil"></section>
      </section>
      <section class="image-container-andar-3">
        <img class="img-if-escadas" src="../static//imagens/terceiro_andar/escadas.JPG" />
        <a href="/andar2"><img class="seta-sobre-img2" src="../static/imagens/para-cima.png" alt="Seta sobre imagem" /></a>
        <a href="/mapaGeral">
          <img class="voltar" src="../static/imagens/seta_esquerda.png" />
        </a>
      </section>
 
    </section>
  </body>
</html>